
#Dream {
  max-width: 1200px;
  margin: 0 auto;
  h1 {
    margin-top: 1rem;
  }
  h2 {
    margin-top: 1rem;
  }
  #DreamContent {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #ccc;
    .DreamUnit {
      margin-top: 1rem;
      .description {
        white-space: pre-line;
      }
    }
  }
}
