
#Index {
  #MainTopic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #Avatar {
      width: 100px;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      border: 1px lightgray solid;
      margin-top: 1rem;
    }
    #OneComment {
      margin-top: 1rem;
    }
  }
}
