
#Resume {
  display: flex;
  flex-direction: column;
  align-items: center;
  table {
    width: 500px;
    max-width: 100%;
    margin-top: 3rem;
    border-collapse: collapse;
    th, td {
      border: 1px black solid;
      padding: 0.5rem;
      max-width: 500px;
      max-height: 500px;
      ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-indent: -1rem;
        padding-left: 1rem;
        li {
          &::before {
            content: "•";
            margin-right: 0.5rem;
          }
        }
      }
    }
  }
}
