
#Skill {
  max-width: 1200px;
  margin: 0 auto;
  .skillUnit {
    padding-bottom: 3rem;
    border-bottom: 1px lightgray solid;
    h2 {
      margin: 1rem 0;
      &::before {
        content: '♪';
        margin-right: 0.5rem;
      }
    }
    .chart {
      max-height: 300px;
    }
  }
}
