
#Faq {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  .FaqUnit {
    margin-top: 1rem;
    border-bottom: 1px lightgray solid;
    padding-bottom: 1rem;
    .FaqQuestion {
      width: 100%;
      text-align: left;
    }
    .answer-detail {
      margin-top: 1rem;
      .answer {
        font-weight: bold;
        font-size: 1.1rem;
        margin: 0.5rem 0;
      }
      .detail {
        white-space: pre-wrap;
      }
    }
  }
}
